<div class="container-fluid py-5">
  <h1 class="display-4">Olá, mundo!</h1>
  <p class="lead">Este é Crypto Wallet, uma app para você...</p>
  <hr class="my-4">
  <p>Selecione abaixo</p>
  <%= render "menu" %>
</div>
<%= link_to "Cadastro de Moedas", coins_path  %> 


<%= link_to "Cadastro de Tipos de Moedas", mining_types_path  %> 


